body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

#game td {
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #E1D5C9;
    vertical-align: middle;
    color: #898989;
    border-radius: 5px;
    user-select: none;      
}

#game .empty {
    background-color: #E3DED8;
}